.cont_product h3,
p {
  color: aliceblue;
}

textarea {
  font-family: open-sans, sans-serif;
}

/* select {
  border-width: 0;
  outline: none;
  margin-right: 0px;
  margin-bottom: 10px;
  height: 40px;
  width: 295px;
  padding: 4px 4px;
  background: #fff;
  border-radius: 8px;
  color: #5a5a5a;
  width: inherit;
} */

/*
select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}




button {
  opacity: 1;
  background-color: inherit;
  color: #fff;
  float: right;
  width: 100%;
  margin-top: 1em;
}

.reservef input {
  width: 100%;
}



#cart {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
}

#cart td,
#cart th {
  border: 1px none #ddd;
  padding: 2px;
}

#cart tr {
  background-color: #ffffff;
}

#cart tr:hover {
  background-color: #ddd;
}

#cart th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #cecece;
  color: #000;
  padding-left: 12px;
  padding-right: 12px;
}

.remove-btn {
  border: 2px solid #eb9412;
  background-color: #eb1212;
  padding: 1rem;
  color: #ddd;
  font-weight: bold;
  border-radius: 0.4em;
}

.cart-summary table,
h3,
th,
tr {
  border-color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.cart-summary tr {
  border-color: #fff;
}

input[type="text"] {
  border-color: #000;
  border-width: 4rem;
}
*/
* {
  color: #ccc;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

/* .container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
} */

/* input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
} */

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04aa6d;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

#paymentt header {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url("../../../assets/img/Pizza_fon_menu_l.png") no-repeat center top/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../../assets/img/Pizza_fon_menu_l.png") no-repeat center top/cover;
}
