<div id="contact" *ngIf="userId != null && totalQuantity > 0">
  <section class="forms">
    <br />
    <br />
    <br />
    <br />
    <br />

    <br />
    <div class="container">
      <div class="row">
        <div class="col-75">
          <div class="form">
            <!--class="container"-->

            <div class="row">
              <form
                *ngIf="!isOrderSuccessful || showDeliveryDetails"
                name="form"
                #f="ngForm"
                novalidate
              >
                <div class="col-50 form_info">
                  <h3>Billing Address</h3>
                  <label for="fname"
                    ><i class="fa fa-user"></i> Full Name</label
                  >
                  <div>
                    <input
                      type="text"
                      id="fname"
                      placeholder="John M. Doe"
                      name="name"
                      [(ngModel)]="form.name"
                      #name="ngModel"
                      required
                      style="color: black"
                    />
                    <div
                      class="alert-danger field-error"
                      *ngIf="name.errors && f.submitted"
                      style="color: aliceblue"
                    >
                      <div *ngIf="name.errors.required">
                        Username is required
                      </div>
                    </div>
                  </div>

                  <label for="adr"
                    ><i class="fa fa-address-card-o"></i> Address</label
                  >
                  <input
                    type="text"
                    id="adr"
                    name="address"
                    placeholder="542 W. 15th Street"
                    [(ngModel)]="form.address"
                    required
                  />
                  <label for="city"
                    ><i class="fa fa-institution"></i> City</label
                  >
                  <input
                    type="text"
                    id="city"
                    name="city"
                    placeholder="Colombo"
                    [(ngModel)]="form.city"
                    required
                    style="color: black"
                  />

                  <div class="row">
                    <div class="col-50">
                      <label for="district">District</label>
                      <input
                        type="text"
                        id="district"
                        name="district"
                        placeholder="Colombo"
                        [(ngModel)]="form.district"
                        required
                        style="color: black"
                      />
                    </div>
                    <div class="col-50">
                      <label for="zip">Contact No</label>
                      <input
                        type="text"
                        id="mobileNo"
                        name="mobileNo"
                        placeholder="10001"
                        [(ngModel)]="form.mobileNo"
                        required
                        style="color: black"
                      />
                    </div>
                    <div class="col-50">
                      <label for="mop">Method of Payment</label>
                      <select
                        class="typeDDL"
                        id="mop"
                        name="type"
                        [(ngModel)]="form.type"
                        #type="ngModel"
                        required
                        style="
                          color: black;
                          font-size: small;
                          height: fit-content;
                        "
                      >
                        <option value="" selected style="color: black">
                          <b>
                            ------------------Please Select------------------</b
                          >
                        </option>

                        <option value="card" selected style="color: black">
                          <b>Card</b>
                        </option>
                        <option value="cod" style="color: black">
                          <b>Cash on Delivery</b>
                        </option>
                      </select>
                    </div>
                  </div>
                </div>

                <a
                  class="button_fill"
                  style="margin-left: 2%"
                  *ngIf="form.type == 'card'"
                  (click)="openModal(template)"
                  >Continue to checkout</a
                >
                <a
                  class="button_fill"
                  style="margin-left: 2%"
                  (click)="openModal(template)"
                  *ngIf="form.type == 'cod'"
                  >Place Order</a
                >
              </form>
              <br /><br />
            </div>
          </div>
        </div>
        <div class="col-25">
          <div class="container">
            <table style="border-color: black">
              <thead>
                <tr>
                  <th>Cart</th>
                  <th>
                    <i class="fa fa-shopping-cart"></i>
                    <b>{{ totalQuantity }}</b>
                  </th>
                </tr>
                <tr *ngFor="let cartItem of cartItemList">
                  <td>{{ cartItem.item.name }}</td>
                  <td class="price">
                    {{ cartItem.item.price | currency: "Lkr " }}
                  </td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td class="price">
                    {{ totalPrice | currency: "LKR " }}
                  </td>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>

      <br />
      <br />
      <br />
      <br />
    </div>
  </section>
</div>

<alert
  type="success"
  *ngIf="isOrderSuccessful"
  style="width: 35rem; text-align: center; margin: auto"
>
  <strong style="color: black"> Order is Successfully Completed</strong>
  <a href="#" class="alert-link"></a>.
</alert>
<alert
  type="danger"
  *ngIf="isOrderFail"
  style="width: 35rem; text-align: center; margin: auto"
>
  <strong style="color: aliceblue">Try Again..!</strong>
  <a href="#" class="alert-link"></a>
</alert>
<ngx-spinner
  bdColor="rgba(229,221,221,0.8)"
  size="medium"
  color="#fff"
  type="ball-zig-zag-deflect"
  [fullScreen]="false"
>
  <p style="font-size: 20px; color: white">Processing....</p></ngx-spinner
>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirmation</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h3 style="color: black">Are you Sure?</h3>
    <div style="flex-direction: row">
      <a
        (click)="onSubmit()"
        class="button_fill btn btn-primary"
        style="width: 5rem; padding-right: 3rem"
        >Yes</a
      >
      <a
        (click)="modalRef.hide()"
        class="button_fill btn"
        style="width: 5rem; padding-right: 3rem; background-color: red"
        >No</a
      >
    </div>
  </div>
</ng-template>
