<div id="contact">
  <section class="forms">
    <br />
    <br />
    <br />
    <br />
    <br />

    <br />
    <div class="container">
      <div class="row">
        <div class="col-75">
          <div class="form">
            <!--class="container"-->

            <div class="row">
              <form
                *ngIf="!isOrderSuccessful || showDeliveryDetails"
                name="form"
                #f="ngForm"
                novalidate
              >
                <div class="col-50 form_info">
                  <h3>Billing Address</h3>
                  <label for="fname"
                    ><i class="fa fa-user"></i> Full Name</label
                  >
                  <div>
                    <input
                      type="text"
                      id="fname"
                      placeholder="John M. Doe"
                      name="name"
                      [(ngModel)]="form.name"
                      #name="ngModel"
                      required
                    />
                    <div
                      class="alert-danger field-error"
                      *ngIf="name.errors && f.submitted"
                      style="color: aliceblue"
                    >
                      <div *ngIf="name.errors.required">
                        Username is required
                      </div>
                    </div>
                  </div>

                  <label for="adr"
                    ><i class="fa fa-address-card-o"></i> Address</label
                  >
                  <input
                    type="text"
                    id="adr"
                    name="address"
                    placeholder="542 W. 15th Street"
                    [(ngModel)]="order.deliveryDto.address"
                    required
                  />
                  <label for="city"
                    ><i class="fa fa-institution"></i> City</label
                  >
                  <input
                    type="text"
                    id="city"
                    name="city"
                    placeholder="Colombo"
                    [(ngModel)]="order.deliveryDto.city"
                    required
                  />

                  <div class="row">
                    <div class="col-50">
                      <label for="state">District</label>
                      <input
                        type="text"
                        id="state"
                        name="district"
                        placeholder="Colombo"
                        [(ngModel)]="order.deliveryDto.district"
                        required
                      />
                    </div>
                    <div class="col-50">
                      <label for="zip">Contact No</label>
                      <input
                        type="text"
                        id="mobileNo"
                        name="mobileNo"
                        placeholder="10001"
                        [(ngModel)]="order.deliveryDto.mobileNo"
                        required
                      />
                    </div>
                    <div class="col-50">
                      <label for="zip">Method of Payment</label>
                      <select
                        class="typeDDL"
                        name="type"
                        [(ngModel)]="form.type"
                        #type="ngModel"
                        required
                      >
                        <option value="" selected>
                          ------------------Please Select------------------
                        </option>

                        <option value="card" selected>Card</option>
                        <option value="cod">Cash on Delivery</option>
                      </select>
                    </div>
                  </div>
                </div>

                <a
                  class="button_fill"
                  style="margin-left: 2%"
                  (click)="onSubmit()"
                  >Continue to checkout</a
                >
              </form>
            </div>
          </div>
        </div>
        <div class="col-25">
          <div class="container">
            <h4>
              Cart
              <span class="price" style="color: black"
                ><i class="fa fa-shopping-cart"></i>
                <b>{{ totalQuantity }}</b></span
              >
            </h4>
            <p *ngFor="let cartItem of cartItemList">
              <a href="#">{{ cartItem.item.name }}</a>
              <span class="price"
                >{{ cartItem.item.price | currency: "Lkr " }}
              </span>
            </p>

            <hr />
            <p>
              Total
              <span class="price" style="color: black"
                ><b>{{ totalPrice | currency: "LKR " }}</b></span
              >
            </p>
          </div>
        </div>
      </div>

      <br />
      <br />
      <br />
      <br />
    </div>
  </section>
</div>
