<div id="contact">
  <br />
  <section class="forms">
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      validate
    >
      <div class="container">
        <div class="form">
          <div class="form_text">
            <span class="up_i">Favorite Bar</span>
            <h2>Login</h2>
            <p>Lorem ipsum dolor sit amet purus vitae libero lacinia</p>
          </div>
          <div class="form_info">
            <input
              placeholder="Email"
              type="email"
              name="email"
              required
              pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
              [(ngModel)]="form.email"
              #email="ngModel"
            />

            <div
              class="alert-danger field-error"
              *ngIf="email.errors && f.submitted"
              style="color: aliceblue"
            >
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.pattern">
                Email must be a valid email address
              </div>
            </div>

            <br />
            <input
              placeholder="Password"
              type="password"
              name="password"
              required
              [(ngModel)]="form.password"
              #password="ngModel"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="password.errors && f.submitted"
              style="color: aliceblue"
            >
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
            <br />

            <div class="form-group">
              <button class="button_line my-btn">Login</button>
            </div>

            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && isLoginFailed"
              style="color: aliceblue"
            >
              Login failed: {{ errorMessage }}
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      Logged in as {{ roles }}.
    </div>
  </section>
</div>
