<div class="container content">
  <section class="products_shop">
    <div class="container">
      <div class="row flex-wrap">
        <div class="col-lg-6">
          <div class="products_sh">
            <div class="image_product_add_to_cart">
              <a class="button_line"
                ><i class="fas fa-shopping-basket"></i>Add to Cart</a
              ><img src="assets/img/shop_one_l.png" alt="" />
            </div>
            <a class="cont_product" href="single_products.html">
              <div class="row align-items-center justify-content-between">
                <span>19.50$</span>
                <div class="star">
                  <i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i>
                </div>
              </div>
              <h3>Pizza with sausage</h3>
              <p>
                Lorem ipsum dolor sit amet purus vitae libero lacinia. Etiam
                ultricies nisi vel augue.
              </p></a
            >
          </div>
        </div>
        <div class="col-lg-6">
          <div class="products_sh">
            <div class="image_product_add_to_cart">
              <a class="button_line"
                ><i class="fas fa-shopping-basket"></i>Add to Cart</a
              ><img src="assets/img/shop_two_l.png" alt="" />
            </div>
            <a class="cont_product" href="single_products.html">
              <div class="row align-items-center justify-content-between">
                <span>19.50$</span>
                <div class="star">
                  <i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i>
                </div>
              </div>
              <h3>Pizza with sausage</h3>
              <p>
                Lorem ipsum dolor sit amet purus vitae libero lacinia. Etiam
                ultricies nisi vel augue.
              </p></a
            >
          </div>
        </div>
        <div class="col-lg-6">
          <div class="products_sh">
            <div class="image_product_add_to_cart">
              <a class="button_line"
                ><i class="fas fa-shopping-basket"></i>Add to Cart</a
              ><img src="assets/img/shop_three_l.png" alt="" />
            </div>
            <a class="cont_product" href="single_products.html">
              <div class="row align-items-center justify-content-between">
                <span>19.50$</span>
                <div class="star">
                  <i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i>
                </div>
              </div>
              <h3>Pizza with sausage</h3>
              <p>
                Lorem ipsum dolor sit amet purus vitae libero lacinia. Etiam
                ultricies nisi vel augue.
              </p></a
            >
          </div>
        </div>
        <div class="col-lg-6">
          <div class="products_sh">
            <div class="image_product_add_to_cart">
              <a class="button_line"
                ><i class="fas fa-shopping-basket"></i>Add to Cart</a
              ><img src="assets/img/shop_four_l.png" alt="" />
            </div>
            <a class="cont_product" href="single_products.html">
              <div class="row align-items-center justify-content-between">
                <span>19.50$</span>
                <div class="star">
                  <i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i>
                </div>
              </div>
              <h3>Pizza with sausage</h3>
              <p>
                Lorem ipsum dolor sit amet purus vitae libero lacinia. Etiam
                ultricies nisi vel augue.
              </p></a
            >
          </div>
        </div>
        <div class="col-lg-6">
          <div class="products_sh">
            <div class="image_product_add_to_cart">
              <a class="button_line"
                ><i class="fas fa-shopping-basket"></i>Add to Cart</a
              ><img src="assets/img/shop_five_l.png" alt="" />
            </div>
            <a class="cont_product" href="single_products.html">
              <div class="row align-items-center justify-content-between">
                <span>19.50$</span>
                <div class="star">
                  <i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i>
                </div>
              </div>
              <h3>Pizza with sausage</h3>
              <p>
                Lorem ipsum dolor sit amet purus vitae libero lacinia. Etiam
                ultricies nisi vel augue.
              </p></a
            >
          </div>
        </div>
        <div class="col-lg-6">
          <div class="products_sh">
            <div class="image_product_add_to_cart">
              <a class="button_line"
                ><i class="fas fa-shopping-basket"></i>Add to Cart</a
              ><img src="assets/img/shop_six_l.png" alt="" />
            </div>
            <a class="cont_product" href="single_products.html">
              <div class="row align-items-center justify-content-between">
                <span>19.50$</span>
                <div class="star">
                  <i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i>
                </div>
              </div>
              <h3>Pizza with sausage</h3>
              <p>
                Lorem ipsum dolor sit amet purus vitae libero lacinia. Etiam
                ultricies nisi vel augue.
              </p></a
            >
          </div>
        </div>
      </div>
      <div class="nav_pages">
        <span>1</span>
        <div class="num_p">2</div>
        <div class="num_p">3</div>
      </div>
    </div>
  </section>
  <aside class="sidebar">
    <div class="col-lg-12">
      <div class="latest_post item_widget">
        <h3>Latest Posts</h3>
        <a class="post_l" href="single_post_image.html">
          <div class="img_p">
            <img src="assets/img/L_posts_one_l.png" alt="Сozy cafe" />
          </div>
          <div class="name_p">
            <span>Сozy cafe</span>
            <p>10 jun 2019</p>
          </div></a
        ><a class="post_l" href="single_post_image.html">
          <div class="img_p">
            <img src="assets/img/L_posts_two_l.png" alt="Natural products" />
          </div>
          <div class="name_p">
            <span>Natural products</span>
            <p>10 jun 2019</p>
          </div></a
        ><a class="post_l" href="single_post_image.html">
          <div class="img_p">
            <img src="assets/img/L_posts_three_l.png" alt="Best meatballs" />
          </div>
          <div class="name_p">
            <span>Best meatballs</span>
            <p>10 jun 2019</p>
          </div></a
        ><a class="post_l" href="single_post_image.html">
          <div class="img_p">
            <img src="assets/img/L_posts_four_l.png" alt="Four cheese pizza" />
          </div>
          <div class="name_p">
            <span>Four cheese pizza</span>
            <p>10 jun 2019</p>
          </div></a
        >
      </div>
      <div class="categories_p item_widget">
        <h3>Categories</h3>
        <a href="#">Restaurant</a><a href="#">Eastern cuisine</a
        ><a href="#">Cafe</a><a href="#">Pizza</a>
      </div>
      <div class="tags item_widget">
        <h3>Tags</h3>
        <div class="tags_links">
          <a href="#">Restaurant</a><a href="#">Cafe</a
          ><a href="#">Eastern cuisine</a><a href="#">Pizza</a>
        </div>
      </div>
    </div>
  </aside>
</div>
