<div id="shop_t">
  <header>
    <div class="container flex_center">
      <div class="title">
        <h1>Shop Order</h1>
        <p>

        </p>
      </div>
    </div>
  </header>

<!--  <div class="content-wrapper">-->
<!--    <section class="content">-->
<!--      <div class="container-fluid">-->
<!--      </div>-->
<!--      <section>-->
<!--    </div>       -->
</div>

<div class="content-wrapper">
  <section class="content">
          <div class="container-fluid">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Customer Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      placeholder="Customer Name"

                    />
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label>contact Number</label>
                    <input
                      type="text"
                      class="form-control"
                      id="tel"
                      name="tel"
                      placeholder="Contact Number"

                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Customer Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      placeholder="Customer Name"

                    />
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label>contact Number</label>
                    <input
                      type="text"
                      class="form-control"
                      id="tel"
                      name="tel"
                      placeholder="Contact Number"

                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          </section>
</div>
