<div class="search_b"><i class="fas fa-times search_icon"></i>
  <input type="search" placeholder="Seacrh">
</div>
<div class="l_m_global headroom">
  <div class="container l_m"><a class="logo" href="index-2.html"><img src="assets/img/Logo_home_01.png" alt="logo"></a><span class="fas fa-bars" id="menu_icon"></span>
    <nav class="menu">
      <li class="active"><a class="drop_down_nav" routerLink="">Home</a>
      </li>
      <li ><a  routerLink="menu">Menu</a>
      </li>
      <li class="menu_mega"><a class="drop_down_nav" href="post_right_sidebar.html">Blog</a>
        <ul class="sub_menu">
          <div class="sub_s_m">
            <h5>Blog</h5>
            <li><a href="post_right_sidebar.html">Right Sidebar</a></li>
            <li><a href="post_left_sidebar.html">Left Sidebar</a></li>
            <li><a href="post_full_width.html">Full width</a></li>
          </div>
          <div class="sub_s_m">
            <h5>Standart</h5>
            <li><a href="post_right_sidebar_large.html">Large images</a></li>
            <li><a href="post_right_sidebar.html">Medium images</a></li>
            <li><a href="post_right_sidebar_small.html">Small images</a></li>
          </div>
          <div class="sub_s_m">
            <h5>Post Types</h5>
            <li><a href="single_post_image.html">Image</a></li>
            <li><a href="single_post_audio.html">Audio</a></li>
            <li><a href="single_post_video.html">Video</a></li>
          </div>
        </ul>
      </li>
      <li><a href="shop.html">Shop</a></li>
      <li><a routerLink="about-us">About us</a></li>
      <li><a href="contacts.html">Contacts</a></li>
      <li><a class="button_line" href="contacts.html">Reservation</a></li><i class="fas fa-shopping-cart shop_cart"><span>1</span></i><i class="fas fa-search search_icon"></i>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
<footer>
  <div class="container">
    <div class="row">
      <div class="footer_contact col-lg-4">
        <h3>Adress</h3>
        <p>Restaurant 40 Park Ave, Brooklyn <br> Ukraine/Nikolaev</p>
      </div>
      <div class="footer_contact col-lg-4">
        <h3>Reservation</h3>
        <p>+380 12 345 678 91 <br> Contact@mail.com</p>
      </div>
      <div class="footer_contact col-lg-4">
        <h3>Open hours</h3>
        <p>Monday - Friday: 10 AM - 11 <br> Saturday - Sunday: 9 AM - 1 PM</p>
      </div>
    </div>
    <div class="footer_icon">
      <div class="icon_social"><a href="https://www.facebook.com/AstroonTeam/"><i class="fab fa-facebook-f"></i></a><a href="https://twitter.com/Astroon1?lang=ru"><i class="fab fa-twitter"></i></a><a href="https://www.behance.net/astroon"><i class="fab fa-behance"></i></a><a href="https://www.youtube.com/channel/UCShwhb7Y6eNL-JOw6K8OLpQ"><i class="fab fa-youtube"></i></a></div>
      <p>COPYRIGHT &copy; 2019, Created By Astroon</p>
    </div>
  </div>
</footer>
