<div id="shop_t">
  <header>
    <div class="container flex_center">
      <div class="title">
        <h1>Single Product</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Necessitatibus at suscipit enim expedita natus eligendi architecto
          rerum asperiores.
        </p>
      </div>
    </div>
  </header>
  <section class="shop_info_two">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <img
            src="{{ item.imagePath }}"
            data-plh-src="https://via.placeholder.com/1920x1080"
            alt=""
          />
        </div>
        <div class="col-lg-7">
          <div class="shop_info">
            <div class="title_shop">
              <h3>{{ item.name }}</h3>
              <span>{{ item.price | currency: "LKR " }}</span>
            </div>
            <div class="stars">
              <!-- <rating
                [(ngModel)]="value"
                [max]="max"
                [readonly]="false"
                [titles]="['one', 'two', 'three', 'four']"
              ></rating> -->
              Ratings: {{ item.rateCount | number }}
            </div>
            <p>
              {{ item.description }}
            </p>
            <a class="button_line" (click)="addToCart(item)"
              ><i class="fas fa-shopping-basket"></i>Add to cart</a
            >
            <app-item-review></app-item-review>
          </div>
        </div>
        <div class="col-lg-7"></div>
      </div>
    </div>
  </section>
</div>
