<footer>
  <div class="container">
    <div class="row">
      <div class="footer_contact col-lg-4">
        <h3>Address</h3>
        <p>
          80/3 Sigera Rd, <br />
          Sri Jayawardenepura Kotte
        </p>
      </div>
      <div class="footer_contact col-lg-4">
        <h3>Reservation</h3>
        <p>
          +94 77 063 3906<br />
          Contact@mail.com
        </p>
      </div>
      <div class="footer_contact col-lg-4">
        <h3>Open hours</h3>
        <p>
          Monday - Friday: 4 PM - 11 PM<br />
          Saturday - Sunday: 4 PM - 11 PM
        </p>
      </div>
    </div>
    <div class="footer_icon">
      <div class="icon_social">
        <a href="https://www.facebook.com/cafemambocmb/"
          ><i class="fab fa-facebook-f"></i></a
        ><a href="https://www.instagram.com/cafemambocmb/?hl=en"
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
      <p>COPYRIGHT &copy; 2019, Created By Astroon</p>
    </div>
  </div>
</footer>
