<footer>
  <div class="container">
    <div class="row">
      <div class="footer_contact col-lg-4">
        <h3>Address</h3>
        <p>
          80/3 Sigera Rd, <br />
          Sri Jayawardenepura Kotte
        </p>
      </div>
      <div class="footer_contact col-lg-4">
        <h3>Reservations</h3>
        <span>
          +94 71 259 6330<br />
          <span style="text-transform: lowercase">
            cafemambocmblk@gmail.com
          </span>
        </span>
      </div>
      <div class="footer_contact col-lg-4">
        <h3>Open hours</h3>
        <p>
          Monday - Friday: 4 PM - 11 PM<br />
          Saturday - Sunday: 4 PM - 11 PM
        </p>
      </div>
    </div>
    <div class="footer_icon">
      <div class="icon_social">
        <a href="https://www.facebook.com/cafemambocmb/"
          ><i class="fab fa-facebook-f"></i></a
        ><a href="https://www.instagram.com/cafemambocmb/?hl=en"
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
      <p></p>
    </div>
  </div>
</footer>
