<div id="contact">
  <br />
  <section class="forms">
    <!-- *ngIf="!isLoggedIn" -->
    <label style="color: white"
      >Please Enter your email to get the reset password in your email</label
    >
    <form name="form" #f="ngForm" (ngSubmit)="onSubmit()" validate>
      <div class="form_info">
        <label></label>
        <input
          placeholder="Email"
          type="email"
          name="email"
          pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
          [(ngModel)]="form.email"
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
          required
        />
        <div
          class="alert-danger field-error"
          *ngIf="email.errors && f.submitted"
          style="color: aliceblue; background: none; border-style: none"
        >
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.pattern">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <a class="button_line">Recover Password</a>
    </form>
  </section>
</div>
<alert type="success" *ngIf="isSuccessful">
  <strong>Done!!</strong> {{ successMsg }}
</alert>

<alert type="danger" *ngIf="isError">
  <strong>Oh !!</strong> {{ errorMsg }}
</alert>
