<div id="contact">
  <br />
  <section class="forms">
    <h2 style="color: aliceblue; text-align: center">
      Enter the email to get the reset Password
    </h2>
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      validate
    >
      <div class="container">
        <div
          class="form"
          style="text-align: centers; padding-left: 4rem; padding-right: 4rem"
        >
          <!-- <div class="form_text">
            <span class="up_i">Favorite Bar</span>
            <h2>Login</h2>
            <p></p>
          </div> -->

          <div class="form_info">
            <input
              placeholder="Email"
              type="email"
              name="email"
              required
              pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
              [(ngModel)]="form.email"
              #email="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
            />

            <div
              class="alert-danger field-error"
              *ngIf="email.errors && f.submitted"
              style="color: aliceblue; background: none; border-style: none"
            >
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.pattern">
                Email must be a valid email address
              </div>
            </div>

            <br />

            <br />

            <div class="form-group">
              <button class="button_fill my-btn">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>

<div class="success alert-success" role="alert" *ngIf="isSuccessful">
  <h2>Sucessfully sent to your email!!!</h2>
</div>

<div class="danger alert-danger" role="alert" *ngIf="isError">
  <h2>Try Again!!!</h2>
</div>
