<header></header>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Employee</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="display: none"></th>
                  <th>Id</th>
                  <th>Review</th>
                  <th>IntegerDate</th>
                  <th>Level</th>
                  <th>Status</th>
                  <th>CreatedBy</th>
                  <th>CreateDate</th>
                  <th>UpdatedBy</th>
                  <th>UpdateDate</th>
                  <th>UserId</th>
                  <th>UserName</th>
                  <th>UserEmail</th>
                  <th>Role</th>
                  <th>Status</th>
                  <th>Status</th>
                  <th>CreatedBy</th>
                  <th>CreatedDate</th>
                  <th>UpdatedBy</th>
                  <th>UpdatedDate</th>
                  <th>LoginEntity</th>
                  <th>ItemEntity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="display: none"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    &nbsp;&nbsp;<a><i class="fas fa-external-link-alt"></i></a
                    >&nbsp;&nbsp; <a> <i class="fas fa-pen"></i></a>&nbsp;&nbsp;
                    <a><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
