<div>
  <div class="bottom_info">
    <div class="contact">
      <div class="i_phone">
        <i class="icon_phone"></i>
        <div class="info_ph">
          <span>Phone</span>
          <p>+94 77 063 3906</p>
        </div>
      </div>
      <div class="i_adress">
        <i class="icon_adress"></i>
        <div class="info_a">
          <span>Address</span>
          <p>80/3 Sigera Rd, Sri Jayawardenepura Kotte 10100</p>
        </div>
      </div>
    </div>
    <div class="slider">
      <div class="slider_namber swiper-pagination"></div>
      <div class="button_sl">
        <i class="icon_left swiper-button-prev"></i
        ><i class="icon_right swiper-button-next"></i>
      </div>
    </div>
  </div>
</div>

<section class="service_b">
  <div class="container">
    <div class="title_t">
      <div class="row">
        <div class="col-lg-4"><span class="up_i">Why choose us?</span></div>
        <div class="col-lg-6">
          <h2>
            Only <span class="text_color">the best </span>ones from all over the
            world
          </h2>
        </div>
      </div>
    </div>

    <!-- // key staff
      <div class="services col-lg-12">
      <div class="row justify-content-between">
        <div class="col-lg-4 col-sm-4">
          <div
            class="services_item"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="200"
          >
            <svg class="icon_s">
              <use xlink:href="./assets/img/icons/sprite.svg#icon_01_s"></use>
            </svg>
            <h3>Founder &amp; CEO</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor sociis natoque
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div
            class="services_item"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="300"
          >
            <svg class="icon_s">
              <use xlink:href="./assets/img/icons/sprite.svg#icon_02_s"></use>
            </svg>
            <h3>Chinese Kitchen Lead</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor sociis natoque
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div
            class="services_item"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="400"
          >
            <svg class="icon_s">
              <use xlink:href="./assets/img/icons/sprite.svg#icon_03_s"></use>
            </svg>
            <h3>French Kitchen Lead</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor sociis natoque
            </p>
          </div>
        </div>
      </div>
    </div>

    -->
  </div>
</section>
<section class="image_f img_inf_n">
  <div class="row align-items-center">
    <div class="col-12 col-lg-6">
      <div class="bg_inf_p bg_products"></div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="img_info">
        <div class="img_fi">
          <span class="up_i">Cocktail, Mocktail & Appetizers</span>
          <h2>
            We <span class="text_color">specialize </span>in bringing
            innovation.
          </h2>
          <p>
            Cocktail, Mocktail and Appetizers are made with special care to
            cater the needs of the customer. We are always ready to provide
            customers with drinks and food have different taste.
          </p>
          <a class="button_line" [routerLink]="['/shop']">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
<section
  class="awards_block jarallax"
  style="background-image: url('assets/img/fon4_l.png')"
  style-plh="background-image: url('https://via.placeholder.com/1920x1080');"
>
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="awards_inf col-lg-5">
        <h2>Awards</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor sociis natoque
        </p>
      </div>
      <div class="awards_img col-lg-7">
        <img src="./assets/img/award_04.png" /><img
          src="assets/img/award_01.png"
        /><img src="assets/img/award_03.png" /><img
          src="assets/img/award_02.png"
        />
      </div>
    </div>
  </div>
</section> -->

<section class="menu_text_two">
  <div class="container">
    <div class="menu_block_two">
      <div class="menu_info_block col-lg-12">
        <span class="up_i">from our hearts</span>
        <h2>Menu Foodrant</h2>
      </div>
      <div class="row">
        <!--   data-aos="fade-right" -->
        <div class="col-lg-6">
          <div class="img_text_menu">
            <img src="../../../assets/img/one_l.jpg" alt="menu_img" />
            <div class="info_title">
              <h3>Fish in Sauce</h3>
              <p>
                Lorem ipsum dolor sit amet purus vitae libero lacinia accumsan
                vitae, dapibus et.
              </p>
            </div>
            <span>9.00$</span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="img_text_menu">
            <img src="../../../assets/img/two_l.jpg" alt="menu_img" />
            <div class="info_title">
              <h3>Meatballs With Egg</h3>
              <p>
                Lorem ipsum dolor sit amet purus vitae libero lacinia accumsan
                vitae, dapibus et.
              </p>
            </div>
            <span>7.70$</span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="img_text_menu">
            <img src="../../../assets/img/three_l.jpg" alt="menu_img" />
            <div class="info_title">
              <h3>Chicken Breast</h3>
              <p>
                Lorem ipsum dolor sit amet purus vitae libero lacinia accumsan
                vitae, dapibus et.
              </p>
            </div>
            <span>1.50$</span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="img_text_menu">
            <img src="../../../assets/img/four_l.jpg" alt="menu_img" />
            <div class="info_title">
              <h3>Red Fish With Shrimps</h3>
              <p>
                Lorem ipsum dolor sit amet purus vitae libero lacinia accumsan
                vitae, dapibus et.
              </p>
            </div>
            <span>11.20$</span>
          </div>
        </div>
      </div>
      <a class="button_line" href="shop.html">Read More</a>
    </div>
  </div>
</section>
<section class="visit_us">
  <div class="visit col-lg-7">
    <span class="up_i">Visit us</span>
    <h2>Good <span class="text_color">food </span>and drinks</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
      ligula eget dolor sociis natoque.
    </p>
  </div>
</section>

<!--
   <section class="team">
  <div
    class="bg_team_block jarallax"
    style="background-image: url('../../../assets/img/fon2_l.png')"
    style-plh="background-image: url('https://via.placeholder.com/1920x1080');"
  ></div>
  <div class="container">
    <div class="our_team">
      <div class="our_t col-lg-12">
        <span class="up_i">from our hearts</span>
        <h2>Our Team</h2>
        <div class="row">
          <div class="col-lg-4">
            <div
              class="info_block"
              data-aos="zoom-in-right"
              data-aos-duration="800"
            >
              <img src="./assets/img/face_four_l.jpg" alt="" />
              <h3>Leona Jordan</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor.
              </p>
              <div class="icon_social">
                <a href="https://www.facebook.com/AstroonTeam/"
                  ><i class="fab fa-facebook-f"></i></a
                ><a href="https://twitter.com/Astroon1?lang=ru"
                  ><i class="fab fa-twitter"></i></a
                ><a href="https://www.behance.net/astroon"
                  ><i class="fab fa-behance"></i></a
                ><a
                  href="https://www.youtube.com/channel/UCShwhb7Y6eNL-JOw6K8OLpQ"
                  ><i class="fab fa-youtube"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="info_block"
              data-aos="zoom-in-up"
              data-aos-duration="800"
            >
              <img src="assets/img/face_one_l.jpg" alt="" />
              <h3>Jessica Lee</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor.
              </p>
              <div class="icon_social">
                <a href="https://www.facebook.com/AstroonTeam/"
                  ><i class="fab fa-facebook-f"></i></a
                ><a href="https://twitter.com/Astroon1?lang=ru"
                  ><i class="fab fa-twitter"></i></a
                ><a href="https://www.behance.net/astroon"
                  ><i class="fab fa-behance"></i></a
                ><a
                  href="https://www.youtube.com/channel/UCShwhb7Y6eNL-JOw6K8OLpQ"
                  ><i class="fab fa-youtube"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="info_block"
              data-aos="zoom-in-left"
              data-aos-duration="800"
            >
              <img src="./assets/img/face_two_l.jpg" alt="" />
              <h3>John Bennett</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor.
              </p>
              <div class="icon_social">
                <a href="https://www.facebook.com/AstroonTeam/"
                  ><i class="fab fa-facebook-f"></i></a
                ><a href="https://twitter.com/Astroon1?lang=ru"
                  ><i class="fab fa-twitter"></i></a
                ><a href="https://www.behance.net/astroon"
                  ><i class="fab fa-behance"></i></a
                ><a
                  href="https://www.youtube.com/channel/UCShwhb7Y6eNL-JOw6K8OLpQ"
                  ><i class="fab fa-youtube"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


 -->

<!-- reservation-->
<div id="contact">
  <section class="forms">
    <div class="container">
      <div class="form">
        <div class="form_text">
          <span class="up_i">Favorite Bar For Events</span>
          <h2>Event Reservation</h2>
          <h3 style="color: azure; text-align: justify">
            <em> "We do not remember the days, but rather the moments."</em>
            <p>
              We are there for you to make your events more memorable and
              successful.
            </p>
          </h3>
        </div>
        <div>
          <a class="button_fill" routerLink="['/reservation']"
            ><h3 style="color: aliceblue">Book Now</h3>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<!--
<section class="logos_p">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-6">
        <img src="../../../assets/img/award_03.png" alt="" data-aos="fade-up" />
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <img src="./assets/img/logo_b_06.png" alt="" data-aos="fade-up" />
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <img src="./assets/img/logo_b_03.png" alt="" data-aos="fade-up" />
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <img src="./assets/img/logo_b_05.png" alt="" data-aos="fade-up" />
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <img src="./assets/img/logo_b_04.png" alt="" data-aos="fade-up" />
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <img src="./assets/img/logo_b_02.png" alt="" data-aos="fade-up" />
      </div>
    </div>
  </div>
</section>
<section class="forms">
  <div class="container">
    <div class="form">
      <div class="form_text">
        <span class="up_i">Favorite cuisine</span>
        <h2>Reservation</h2>
        <p>Lorem ipsum dolor sit amet purus vitae libero lacinia</p>
      </div>
      <div class="form_info">
        <div class="form_reserv">
          <form>
            <input placeholder="Name" type="text" name="name" required="" />
            <input placeholder="Email" type="email" name="email" required="" />
            <input placeholder="Phone" type="text" name="phone" required="" />
            <input
              placeholder="Adress"
              type="email"
              name="adress"
              required=""
            />
          </form>
        </div>
        <textarea
          placeholder="Message"
          type="message"
          name="message"
          required=""
        ></textarea
        ><a class="button_line" href="contacts.html">Reservation</a>
      </div>
    </div>
  </div>
</section>


-->

<script src="../../../assets/cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script src="../../../assets/js/libs.min.js"></script>
<script src="../../../assets/js/scripts.min.js"></script>
<script>
  $(document).ready(function () {
    quoteSwiper.controller.control = imageSwiper;
    imageSwiper.controller.control = quoteSwiper;
  });
</script>
