<div id="about">
  <header>
    <div class="search_b">
      <i class="fas fa-times search_icon"></i>
      <input type="search" placeholder="Seacrh" />
    </div>
    <div class="container flex_center">
      <div class="title">
        <h1>Gallery</h1>
        <p></p>
        <a class="button_fill" routerLink="['/contact-us]"
          ><h3 style="color: aliceblue">Book Now</h3>
        </a>
      </div>
    </div>
  </header>
  <div class="container content">
    <section class="products_shop">
      <div class="container">
        <div class="row flex-wrap">
          <div class="gallery_block">
            <span class="up_i"></span>
            <h2>Events</h2>
            <div class="gallery_img">
              <div class="col-lg-4">
                <a data-fancybox="gallery" href=""
                  ><img
                    src="https://images.pexels.com/photos/3009793/pexels-photo-3009793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                /></a>
              </div>
              <div class="col-lg-4">
                <a data-fancybox="gallery" href=""
                  ><img
                    src="https://as2.ftcdn.net/v2/jpg/01/88/35/35/1000_F_188353512_EmYHggAhNUMkEduM9oEIgIcim3k93e37.jpg"
                /></a>
              </div>
              <div class="col-lg-4">
                <a data-fancybox="gallery" href=""
                  ><img
                    src="https://images.pexels.com/photos/801863/pexels-photo-801863.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                /></a>
              </div>
              <div class="col-lg-4">
                <a data-fancybox="gallery" href=""
                  ><img
                    src="https://images.pexels.com/photos/696218/pexels-photo-696218.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- 

<div class="col-lg-6">
            <div class="products_sh">
              <div class="image_product_add_to_cart">
                <img src="" alt="" />
              </div>
              <a class="cont_product" [routerLink]="['/']">
                <div class="row align-items-center justify-content-between">
                  <span></span>
                </div>
                <h3></h3>
                <p style="font-size: small"></p
              ></a>
            </div>
          </div>



-->
