<div class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-6">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Form</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form>
                  <div class="card-body">
                    <div class="form-group">
                      <!--id-->
                      <input
                        type="text"
                        class="form-control"
                        id="id"
                        placeholder="id"
                      />
                    </div>
                    <!--review -->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Review"
                        placeholder="Review"
                      />
                    </div>
                    <!--Integerrate -->
                    <div class="form-group">
                      <input
                        type="Te"
                        class="form-control"
                        id="Integerrate"
                        placeholder="Integerrate"
                      />
                    </div>

                    <!--Level-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Level"
                        placeholder="Level"
                      />
                    </div>

                    <!--role -->
                    <div class="form-group">
                      <label>Role</label>
                      <select multiple class="custom-select">
                        <option>Manager</option>
                        <option>Cashier</option>
                        <option>Bartender</option>
                        <option>Server</option>
                        <option>Security</option>
                      </select>
                    </div>

                    <!--status-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Status"
                        placeholder="Status"
                      />
                    </div>
                    <!--CreatedBy-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="CreatedBy"
                        placeholder="CreatedBy"
                      />
                    </div>
                    <!--CreatedDate-->
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        id="CreatedDate"
                        placeholder="CreatedDate"
                      />
                    </div>

                    <!--Updatedby-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Updatedby"
                        placeholder="Updatedby"
                      />
                    </div>
                    <!--Updateddate-->
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        id="Updateddate"
                        placeholder="Updateddate"
                      />
                    </div>

                    <!--ItemEntity-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="ItemEntity"
                        placeholder="ItemEntity"
                      />
                    </div>

                    <!--PackageId-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="PackageId"
                        placeholder="PackageId"
                      />
                    </div>
                    <!--Packagename-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Packagename"
                        placeholder="Packagename"
                      />
                    </div>
                    <!--Description-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Description"
                        placeholder="Description"
                      />
                    </div>

                    <!--DoublePrice-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="DoublePrice"
                        placeholder="DoublePrice"
                      />
                    </div>

                    <!--Status-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Status"
                        placeholder="Status"
                      />
                    </div>

                    <!--CreatedBy-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="CreatedBy"
                        placeholder="CreatedBy"
                      />
                    </div>

                    <!--Createddate-->
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        id="Createddate"
                        placeholder="Createddate"
                      />
                    </div>

                    <!--Updatedby-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Updatedby"
                        placeholder="Updatedby"
                      />
                    </div>

                    <!--Updateddate-->
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        id="Updateddate"
                        placeholder="Updateddate"
                      />
                    </div>

                    <!--id-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="id"
                        placeholder="id"
                      />
                    </div>

                    <!--name-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="name"
                        placeholder="name"
                      />
                    </div>

                    <!--email-->
                    <div class="form-group">
                      <input
                        type="mail"
                        class="form-control"
                        id="Email"
                        placeholder="Email"
                      />
                    </div>

                    <!--role-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="role"
                        placeholder="role"
                      />
                    </div>

                    <!--Status-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Status"
                        placeholder="Status"
                      />
                    </div>

                    <!--CreatedBy-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="CreatedBy"
                        placeholder="CreatedBy"
                      />
                    </div>

                    <!--Createddate-->
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        id="Createddate"
                        placeholder="Createddate"
                      />
                    </div>

                    <!--Updatedby-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Updatedby"
                        placeholder="Updatedby"
                      />
                    </div>

                    <!--Updateddate-->
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        id="Updateddate"
                        placeholder="Updateddate"
                      />
                    </div>

                    <!--LoginEntity-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="LoginEntity"
                        placeholder="LoginEntity"
                      />
                    </div>

                    <!--ItemEntity-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="ItemEntity"
                        placeholder="ItemEntity"
                      />
                    </div>
                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
              <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
</div>
