<header></header>

<label class="image-upload-container btn btn-bwm">
  <span>Select Image</span>
  <input
    #imageInput
    type="file"
    accept="image/*"
    (change)="processFile(imageInput)"
  />
</label>

<!--
<h1>FileUpload</h1>



<input type="file" (change)="onFileSelected($event)" />


<div *ngIf="selectedFile" class="img-preview-container">
  <div
    class="img-preview{{ selectedFile.status === 'fail' ? '-error' : '' }}"
    [ngStyle]="{ 'background-image': 'url(' + selectedFile.src + ')' }"
  ></div>

  <div *ngIf="selectedFile.pending" class="img-loading-overlay">
    <div class="img-spinning-circle"></div>
  </div>

  <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success">
    Image Uploaded Succesfuly!
  </div>
  <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger">
    Image Upload Failed!
  </div>
</div>

-->
<div class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-6">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Form</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form>
                  <div class="card-body">
                    <div class="form-group">
                      <input type="text" id="InputId" value="" hidden />
                      <!--name-->
                      <input
                        type="text"
                        class="form-control"
                        id="InputName"
                        placeholder="Enter name"
                      />
                    </div>
                    <!--Price-->
                    <div class="form-group">
                      <input
                        type="number"
                        class="form-control"
                        id="InputPrice"
                        placeholder="Enter price"
                      />
                    </div>

                    <!--Input image path -->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="InputImagePath"
                        placeholder="Image path"
                      />
                    </div>

                    <!--Category-->
                    <div class="form-group">
                      <label>Role</label>
                      <select multiple class="custom-select">
                        <option value="">Manager</option>
                        <option>Cashier</option>
                        <option>Bartender</option>
                        <option>Server</option>
                        <option>Security</option>
                      </select>
                    </div>

                    <!--Description-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="InputDescription"
                        placeholder="Enter Status"
                      />
                    </div>

                    <!--Ingredients -->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="InputIngredients"
                        placeholder="Enter Ingredients"
                      />
                    </div>

                    <!--Name -->
                    <div class="form-group">
                      <input
                        type="number"
                        class="form-control"
                        id="InputRateCount"
                        placeholder="Enter Ratecount"
                      />
                    </div>

                    <div class="form-group">
                      <label for="InputFile">File input</label>
                      <div class="input-group">
                        <div class="custom-file">
                          <input
                            type="file"
                            class="custom-file-input"
                            id="InputFile"
                          />
                          <label class="custom-file-label" for="InputFile"
                            >Choose file</label
                          >
                        </div>
                        <div class="input-group-append">
                          <span class="input-group-text">Upload</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
              <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
</div>
