<div id="contact">
  <section class="forms">
    <div class="container">
      <br />
      <br />
      <br />
      <br />

      <form>
        <div class="form">
          <div class="form_text">
            <span class="up_i">Favorite Bar</span>
            <h2>Event Booking</h2>
            <p>Lorem ipsum dolor sit amet purus vitae libero lacinia</p>
          </div>

          <div class="form_info" style="display: flex; flex-direction: column">
            <div></div>
            <div class="star">
              <i class="rating__star far fa-star"></i>
              <i class="rating__star far fa-star"></i>
              <i class="rating__star far fa-star"></i>
              <i class="rating__star far fa-star"></i>
              <i class="rating__star far fa-star"></i>
            </div>
            <h2>Angular 12 Star Rating Example</h2>

            <textarea
              type="text"
              placeholder="Message"
              name="message"
              required=""
              aria-rowcount="5"
            ></textarea>

            <button class="button_line">Reserve</button>
            <!-- 
                date picker  // get from api to findout 
     <button class="button_line (click)="onSubmit()" >Reserve</button>
   
                package type // get form api url 

                [(ngModel)]="form.message"
              #message="ngModel"



              -------
              form
              -----------
               *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
              -->
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
