<div class="latest_post item_widget">
  <section class="forms">
    <div class="container">
      <form>
        <div class="form">
          <!--*ngIf="isLoggedIn"-->
          <form name="form" #review="ngForm" novalidate>
            <div class="form_info">
              <div
                class="form_info"
                style="display: flex; flex-direction: column"
              >
                <label> <h3>Review</h3></label>
                <br />
                <textarea
                  type="text"
                  placeholder="Write your review"
                  name="review"
                  required=""
                  aria-rowcount="5"
                  aria-colcount="4"
                  style="font-style: italic; border-radius: 0.4rem"
                  [(ngModel)]="form.review"
                  required
                ></textarea>
                <ngx-slider
                  [(value)]="value"
                  [options]="options"
                  style="color: aliceblue; width: 23rem"
                ></ngx-slider>

                <button
                  class="button_line"
                  (click)="addReview()"
                  style="width: 40%"
                >
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </form>
    </div>
  </section>
</div>
