<div id="shop">
  <header>
    <div class="search_b">
      <i class="fas fa-times search_icon"></i>
      <input type="search" placeholder="Seacrh" />
    </div>
    <div class="container flex_center">
      <div class="title">
        <h1>Cart</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Necessitatibus at suscipit enim expedita natus eligendi architecto
          rerum asperiores.
        </p>
      </div>
    </div>
  </header>
  <div class="container content">
    <section class="products_shop">
      <div class="container">
        <div class="row">
          <table id="cart">
            <tr>
              <th></th>
              <th>Item</th>
              <th>Price</th>
              <th>Discount</th>
              <th>Quantity</th>
              <th></th>
              <th></th>
              <th>Total Price</th>
              <th></th>
            </tr>
            <tr *ngFor="let cItem of cartItems">
              <td>
                <img
                  src="{{ cItem.item.imageUrl }}"
                  style="height: 4rem; width: 4rem"
                />
              </td>
              <td>{{ cItem.item.name }}</td>
              <td>{{ cItem.item.price }}</td>
              <td></td>
              <td>{{ cItem.count }}</td>
              <td><i class="fas fa-plus"></i></td>
              <td><i class="fas fa-minus"></i></td>
              <td>{{ cItem.count * cItem.item.price | currency: "LKR " }}</td>
              <td>
                <button
                  class="button_line remove-btn"
                  onclick="alert('remove')"
                >
                  Remove
                </button>
              </td>
            </tr>
            <tr>
              <td>Total Quantity/Price</td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{ totQuantity }}</td>
              <td></td>
              <td></td>
              <td>{{ totPrice | currency: "LKR " }}</td>
              <td>
                <button
                  *ngIf="cartItems.length > 0"
                  class="button_line remove-btn"
                  onclick="alert('f')"
                >
                  Clear All
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <br /><br />

      <a
        *ngIf="cartItems.length > 0"
        class="button_line"
        [routerLink]="['/order/payment']"
      >
        Proceed
      </a>
    </section>
  </div>
</div>
