<div class="container content">
  <section class="products_shop">
    <div class="container">
      <div class="row flex-wrap">
        <div *ngFor="let item of itemList" class="col-lg-4">
          <div class="products_sh">
            <div class="image_product_add_to_cart">
              <a class="button_line" (click)="addToCart(item)">
                <i class="fas fa-shopping-basket"></i>Add to Cart</a
              ><img
                src="{{ item.imagePath }}"
                alt=""
                style="max-height: 10rem; min-height: 10rem"
              />
            </div>
            <a class="cont_product" [routerLink]="['/item', item.id]">
              <div class="row align-items-center justify-content-between">
                <span>Rs. {{ item.price }}</span>
                <div class="star">
                  <i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star-half"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i>
                </div>
              </div>
              <h3>{{ item.name }}</h3>
              <p style="font-size: small">{{ item.description }}</p></a
            >
          </div>
        </div>
      </div>
      <div class="nav_pages">
        <div
          class="num_p"
          *ngFor="let data of pageNumbers"
          (click)="nextIndexList(data)"
        >
          {{ data }}
        </div>
      </div>
    </div>
  </section>

  <!--   
<aside class="sidebar">
    <div class="col-lg-12">
      <div class="categories_p item_widget">
        <h3>Categories</h3>
        <a (click)="onClickItemTypeChange('mocktail')">Mocktails</a
        ><a (click)="onClickItemTypeChange('cocktail')">Cocktails</a
        ><a (click)="onClickItemTypeChange('appetizer')">Appetizers</a
        ><a href="#"></a>
      </div>
    </div>
  </aside>

  -->
</div>
