<header>
  <div class="search_b"><i class="fas fa-times search_icon"></i>
    <input type="search" placeholder="Seacrh">
  </div>
  <div class="container flex_center">
    <div class="title">
      <h1>Menu</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus at suscipit enim expedita natus eligendi architecto rerum asperiores.</p>
    </div>
  </div>
</header>
<div class="container content">
  <section class="products_shop">
    <div class="container">
      <div class="row flex-wrap">
        <div class="col-lg-4">
          <div class="products_sh">
            <div class="image_product_add_to_cart"><a class="button_line"><i class="fas fa-shopping-basket"></i>Add to Cart</a><img src="assets/img/shop_one_l.png" alt=""></div><a class="cont_product" href="single_products.html">
            <div class="row align-items-center justify-content-between"><span>19.50$</span>
              <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            </div>
            <h3>Pizza with sausage</h3>
            <p>Lorem ipsum dolor sit amet purus vitae libero lacinia. Etiam ultricies nisi vel augue.</p></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="products_sh">
            <div class="image_product_add_to_cart"><a class="button_line"><i class="fas fa-shopping-basket"></i>Add to Cart</a><img src="assets/img/shop_two_l.png" alt=""></div><a class="cont_product" href="single_products.html">
            <div class="row align-items-center justify-content-between"><span>19.50$</span>
              <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            </div>
            <h3>Pizza with sausage</h3>
            <p>Lorem ipsum dolor sit amet purus vitae libero lacinia. Etiam ultricies nisi vel augue.</p></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="products_sh">
            <div class="image_product_add_to_cart"><a class="button_line"><i class="fas fa-shopping-basket"></i>Add to Cart</a><img src="assets/img/shop_three_l.png" alt=""></div><a class="cont_product" href="single_products.html">
            <div class="row align-items-center justify-content-between"><span>19.50$</span>
              <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            </div>
            <h3>Pizza with sausage</h3>
            <p>Lorem ipsum dolor sit amet purus vitae libero lacinia. Etiam ultricies nisi vel augue.</p></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="products_sh">
            <div class="image_product_add_to_cart"><a class="button_line"><i class="fas fa-shopping-basket"></i>Add to Cart</a><img src="assets/img/shop_four_l.png" alt=""></div><a class="cont_product" href="single_products.html">
            <div class="row align-items-center justify-content-between"><span>19.50$</span>
              <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            </div>
            <h3>Pizza with sausage</h3>
            <p>Lorem ipsum dolor sit amet purus vitae libero lacinia. Etiam ultricies nisi vel augue.</p></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="products_sh">
            <div class="image_product_add_to_cart"><a class="button_line"><i class="fas fa-shopping-basket"></i>Add to Cart</a><img src="assets/img/shop_five_l.png" alt=""></div><a class="cont_product" href="single_products.html">
            <div class="row align-items-center justify-content-between"><span>19.50$</span>
              <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            </div>
            <h3>Pizza with sausage</h3>
            <p>Lorem ipsum dolor sit amet purus vitae libero lacinia. Etiam ultricies nisi vel augue.</p></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="products_sh">
            <div class="image_product_add_to_cart"><a class="button_line"><i class="fas fa-shopping-basket"></i>Add to Cart</a><img src="assets/img/shop_six_l.png" alt=""></div><a class="cont_product" href="single_products.html">
            <div class="row align-items-center justify-content-between"><span>19.50$</span>
              <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            </div>
            <h3>Pizza with sausage</h3>
            <p>Lorem ipsum dolor sit amet purus vitae libero lacinia. Etiam ultricies nisi vel augue.</p></a>
          </div>
        </div>
      </div>
      <div class="nav_pages"><span>1</span>
        <div class="num_p">2</div>
        <div class="num_p">3</div>
      </div>
    </div>
  </section>

</div>

<script src="../cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script src="assets/js/libs.min.js"></script>
<script src="assets/js/scripts.min.js"></script>

