<div id="contact">
  <section class="forms">
    <div class="container">
      <br />
      <br />
      <br />
      <br />

      <div class="row">
        <div class="col-lg-3" *ngFor="let pack of packages">
          <div class="products_sh">
            <div class="">
              <img src="{{ pack.imageUrl }}" alt="" />
            </div>
            <br /><br />
            <div class="cont_product">
              <div class="row align-items-center justify-content-between">
                <span>{{ pack.price | currency: "LKR " }}</span>
              </div>

              <h3>{{ pack.name }}</h3>
              <p>Lorem ipsum dolor sit amet purus vitae libero lacinia</p>
            </div>
          </div>
        </div>
      </div>

      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form">
          <div class="form_text">
            <span class="up_i">Favorite Bar</span>
            <h2>Event Booking</h2>
            <p>
              <b>THE PARTY NEVER STOPS!!!</b> <br />Cafe mambo is still new in
              CMB but there is no party too big or too small for us to handle.
              You come to us with an idea—no matter how out there—and we’ll make
              it happen. From bar mitzvahs and anniversary parties to team
              celebrations and bachelor/bachelorette parties, we work with you
              to make your personal rock and roll fantasy.
            </p>
          </div>

          <div class="form_info" style="display: flex; flex-direction: column">
            <div>
              <input
                placeholder="Name"
                type="text"
                name="name"
                [(ngModel)]="form.name"
                #name="ngModel"
                required
              />
              <div
                class="alert-danger field-error"
                *ngIf="name.errors && f.submitted"
                style="color: aliceblue"
              >
                <div *ngIf="name.errors.required">Username is required</div>
              </div>
            </div>
            <input
              placeholder="Email"
              type="email"
              name="email"
              [(ngModel)]="form.email"
              #email="ngModel"
              pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
              required
            />
            <div
              class="alert-danger field-error"
              *ngIf="email.errors && f.submitted"
              style="color: aliceblue"
            >
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.pattern">
                Email must be a valid email address
              </div>
            </div>

            <input
              placeholder="Contact Number"
              type="text"
              name="contactNo"
              [(ngModel)]="form.contactNo"
              #contactNo="ngModel"
              required
            />
            <input
              placeholder="Location"
              type="text"
              name="location"
              [(ngModel)]="form.location"
              #location="ngModel"
              required
            />

            <div>
              <input
                type="date"
                name="date"
                [(ngModel)]="form.date"
                #date="ngModel"
                required
              />

              <select
                class="typeDDL"
                name="type"
                [(ngModel)]="form.type"
                #type="ngModel"
              >
                <option value=""></option>
                <option *ngFor="let type of types" value="type.value">
                  {{ type.value }}
                </option>
              </select>
            </div>
            <input
              type="text"
              placeholder="Message"
              name="message"
              [(ngModel)]="form.message"
              #message="ngModel"
              required=""
              aria-rowcount="5"
            />
            <button *ngIf="isLoggedIn" class="button_line" (click)="onSubmit()">
              Reserve
            </button>
            <button
              *ngIf="!isLoggedIn"
              class="button_line"
              aria-disabled="true"
            >
              Reserve
            </button>
            <!-- 
              date picker  // get from api to findout 
   <button class="button_line (click)="onSubmit()" >Reserve</button>
 
              package type // get form api url 
            -->
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
