<div id="contact">
  <section class="forms">
    <div class="container">
      <br />
      <br />
      <br />
      <br />

      <div class="row" *ngIf="packages.length > 0">
        <div class="col-lg-3" *ngFor="let pack of packages">
          <div class="products_sh">
            <div class="">
              <img src="" alt="" />
              {{ pack.imagePath }}
            </div>
            <br /><br />
            <div class="cont_product">
              <div class="row align-items-center justify-content-between">
                <span>{{ pack.price | currency: "LKR " }}</span>
              </div>

              <h3>{{ pack.name }}</h3>
              <p>{{ pack.description }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="form">
        <div class="form_text">
          <span class="up_i">Favorite Bar</span>
          <h2>Event Booking</h2>
          <p>
            <b>THE PARTY NEVER STOPS!!!</b> <br />Cafe mambo is still new in CMB
            but there is no party too big or too small for us to handle. You
            come to us with an idea—no matter how out there—and we’ll make it
            happen. From bar mitzvahs and anniversary parties to team
            celebrations and bachelor/bachelorette parties, we work with you to
            make your personal rock and roll fantasy.
          </p>
        </div>
        <form
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit(template)"
          #f="ngForm"
          validate
        >
          <div class="form_info" style="display: flex; flex-direction: column">
            <div *ngIf="!isLoggedIn">
              <input
                placeholder="Name"
                type="text"
                name="name"
                [(ngModel)]="form.name"
                #name="ngModel"
                required
                [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
              />
              <div
                class="alert-danger field-error"
                *ngIf="name.errors && f.submitted"
                style="color: white; background: none; width: 60%"
              >
                <div *ngIf="name.errors.required">Name is required</div>
              </div>
            </div>
            <span *ngIf="!isLoggedIn">
              <input
                placeholder="Email"
                type="email"
                name="email"
                [(ngModel)]="form.email"
                #email="ngModel"
                pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
                required
                [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
              />
              <div
                class="alert-danger field-error"
                *ngIf="email.errors && f.submitted"
                style="color: white; background: none; width: 60%"
              >
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.pattern">
                  Email must be a valid email address
                </div>
              </div>
            </span>
            <input
              placeholder="Contact Number"
              type="text"
              name="contactNo"
              [(ngModel)]="form.contactNo"
              #contactNo="ngModel"
              required
            />
            <div
              class="alert-danger field-error"
              *ngIf="contactNo.errors && f.submitted"
              style="color: white; background: none; width: 60%"
            >
              <div *ngIf="contactNo.errors.required">
                Contact Number is required
              </div>
            </div>

            <input
              placeholder="Location"
              type="text"
              name="location"
              [(ngModel)]="form.location"
              #location="ngModel"
            />

            <div>
              <input
                type="date"
                name="date"
                [(ngModel)]="form.date"
                #date="ngModel"
              />
            </div>
            <div>
              <select
                class="typeDDL"
                name="package"
                [(ngModel)]="form.package"
                #package="ngModel"
              >
                <option value=""></option>
                <option *ngFor="let type of types" value="{{ type.id }}">
                  <!-- value="type.value"-->
                  {{ type.name }}
                </option>
              </select>
            </div>
            <input
              type="text"
              placeholder="Message"
              name="message"
              [(ngModel)]="form.message"
              #message="ngModel"
              required=""
              aria-rowcount="5"
            />
            <div>
              <button class="button_fill">Reserve</button>
            </div>

            <!-- 
              date picker  // get from api to findout 
   <button class="button_line (click)="onSubmit()" >Reserve</button>
 
              package type // get form api url 
            -->
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

<ngx-spinner
  bdColor="rgba(229,221,221,0.8)"
  size="medium"
  color="#fff"
  type="ball-zig-zag-deflect"
  [fullScreen]="false"
>
  <p style="font-size: 20px; color: white">Processing....</p></ngx-spinner
>

<ng-template #template>
  <div class="modal-body">
    <h3 style="color: black; text-align: center">{{ messageModal }}</h3>
    <div style="text-align: center">
      <object
        data="../../../assets/img/svg/checked.svg"
        type="image/svg+xml"
        style="height: 3rem; width: 3rem"
        *ngIf="isSuccessful"
      ></object>
      <object
        data="../../../assets/img/svg/report.svg"
        type="image/svg+xml"
        style="height: 3rem; width: 3rem"
        *ngIf="isError"
      ></object>
    </div>
  </div>
</ng-template>
