<div id="about">
  <header>
    <div class="search_b">
      <i class="fas fa-times search_icon"></i>
      <input type="search" placeholder="Seacrh" />
    </div>
    <div class="container flex_center">
      <div class="title">
        <h1>About Us</h1>
        <p>
          We are new innovators in this industry to bring out a new innovations
          and provide the wordly tasted drinks at affordable price at an
          affordable place.
        </p>
      </div>
    </div>
  </header>
  <section class="info_contact">
    <div class="container">
      <div class="contact_info">
        <div class="logo_about col-lg-12">
          <img src="assets/img/cafe_mambo_logo.png" alt="" />
        </div>
        <h2>About the Bar</h2>
        <span class="up_i">Best drinks and appetizers</span>
        <p>
          We are a new bies in this industry. We are located in the official
          administrative capital of Sri Lanka.
        </p>
      </div>
    </div>
  </section>
  <section class="image_f">
    <div class="container">
      <div class="img_info">
        <div class="col-lg-6 col-12"><i class="img_i"></i></div>
        <div class="col-lg-6 col-12">
          <div class="img_fi">
            <span class="up_i">Drinks and Appetizers</span>
            <h2>
              We <span class="text_color">specialize </span>in drinks and
              appetizers.
            </h2>
            <p>
              We have a handful of trained bartenders who are capable of
              providing various kind of mixes according to the customer's need
              and always key to innovate new drinks that are special to our bar.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 
  <section class="information_ab">
    <div class="container">
      <div class="col-lg-12">
        <span class="up_i">oraco products</span>
        <h2>Foodrant restaurant</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br />
          Reiciendis doloremque deleniti autem! Id reiciendis adipisci deserunt
          dolore <br />
          vel dolorem totam
        </p>
      </div>
    </div>
  </section>

-->
  <section class="reserv_i">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-9 col-sm-9 col-12">
          <h2>For reservation</h2>
        </div>
        <div class="col-lg-3 col-sm-3 col-12 but_right_align">
          <a class="button_line" [routerLink]="['/reservation']">Book Now</a>
        </div>
      </div>
    </div>
  </section>
  <section class="gallery">
    <div class="container">
      <div class="gallery_block">
        <span class="up_i">from our hearts</span>
        <h2>Gallery</h2>
        <div class="gallery_img">
          <div class="col-lg-4">
            <a data-fancybox="gallery" href="assets/img/Gallery_onefull_l.png"
              ><img src="assets/img/Gallery_one_l.png"
            /></a>
          </div>
          <div class="col-lg-4">
            <a data-fancybox="gallery" href="assets/img/Gallery_twofull_l.png"
              ><img src="assets/img/Gallery_two_l.png"
            /></a>
          </div>
          <div class="col-lg-4">
            <a data-fancybox="gallery" href="assets/img/Gallery_threefull_l.png"
              ><img src="assets/img/Gallery_three_l.png"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="../cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
  <script src="assets/js/libs.min.js"></script>
  <script src="assets/js/scripts.min.js"></script>
</div>
