<div class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-6">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Form</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form>
                  <div class="card-body">
                    <div class="form-group">
                      <!--id-->
                      <input
                        type="text"
                        class="form-control"
                        id="Inputid"
                        placeholder="id"
                      />
                    </div>
                    <!--Status -->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Status"
                        placeholder="Status"
                      />
                    </div>
                    <div class="form-group">
                      <!--Password -->
                      <input
                        type="text"
                        class="form-control"
                        id="CreatedBy"
                        placeholder="CreatedBy"
                      />
                    </div>

                    <!--role -->
                    <div class="form-group">
                      <label>Role</label>
                      <select multiple class="custom-select">
                        <option>Manager</option>
                        <option>Cashier</option>
                        <option>Bartender</option>
                        <option>Server</option>
                        <option>Security</option>
                      </select>
                    </div>

                    <!--createdDate-->
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        id="CreatedDate"
                        placeholder="CreateDate"
                      />
                    </div>
                    <!--UpdatedBy-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="UpdatedBy"
                        placeholder="UpdatedBy"
                      />
                    </div>
                    <!--Updatedate-->
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        id="UpdateDate"
                        placeholder="UpdateDate"
                      />
                    </div>
                    <!--Orderid-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Orderid"
                        placeholder="Orderid"
                      />
                    </div>

                    <!--Orderdate-->
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        id="Orderdate"
                        placeholder="Orderdate"
                      />
                    </div>

                    <!--Doubletotal-->
                    <div class="form-group">
                      <input
                        type="number"
                        class="form-control"
                        id="Doubletotal"
                        placeholder="Doubletotal"
                      />
                    </div>

                    <!--Status-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Status"
                        placeholder="Status"
                      />
                    </div>

                    <!--Status-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Status"
                        placeholder="Status"
                      />
                    </div>

                    <!--Createdby-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Createdby"
                        placeholder="Createdby"
                      />
                    </div>

                    <!--CreatedDate-->
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        id="CreatedDate"
                        placeholder="CreatedDate"
                      />
                    </div>

                    <!--UpdatedBy-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="UpdatedBy"
                        placeholder="UpdatedBy"
                      />
                    </div>

                    <!--UpdatedDate-->
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        id="UpdatedDate"
                        placeholder="UpdatedDate"
                      />
                    </div>

                    <!--id-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="id"
                        placeholder="id"
                      />
                    </div>

                    <!--Doubleamount-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Doubleamount"
                        placeholder="Doubleamount"
                      />
                    </div>

                    <!--Method-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Method"
                        placeholder="Method"
                      />
                    </div>

                    <!--Paymentstatus-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Paymentstatus"
                        placeholder="Paymentstatus"
                      />
                    </div>

                    <!--Status-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Status"
                        placeholder="Status"
                      />
                    </div>

                    <!--CreatedBy-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="CreatedBy"
                        placeholder="CreatedBy"
                      />
                    </div>

                    <!--Createddate-->
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        id="Createddate"
                        placeholder="Createddate"
                      />
                    </div>

                    <!--Updatedby-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Updatedby"
                        placeholder="Updatedby"
                      />
                    </div>

                    <!--Updateddate-->
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        id="Updateddate"
                        placeholder="Updateddate"
                      />
                    </div>

                    <!--id-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="id"
                        placeholder="id"
                      />
                    </div>

                    <!--name-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="name"
                        placeholder="name"
                      />
                    </div>

                    <!--email-->
                    <div class="form-group">
                      <input
                        type="mail"
                        class="form-control"
                        id="Email"
                        placeholder="Email"
                      />
                    </div>

                    <!--role-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="role"
                        placeholder="role"
                      />
                    </div>

                    <!--Status-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Status"
                        placeholder="Status"
                      />
                    </div>

                    <!--CreatedBy-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="CreatedBy"
                        placeholder="CreatedBy"
                      />
                    </div>

                    <!--Createddate-->
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        id="Createddate"
                        placeholder="Createddate"
                      />
                    </div>

                    <!--Updatedby-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="Updatedby"
                        placeholder="Updatedby"
                      />
                    </div>

                    <!--Updateddate-->
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        id="Updateddate"
                        placeholder="Updateddate"
                      />
                    </div>

                    <!--LoginEntity-->
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="LoginEntity"
                        placeholder="LoginEntity"
                      />
                    </div>
                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
              <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
</div>
