<!-- Content Wrapper. Contains page content -->
<header></header>
<div class="row">
  <div class="col-sm-2">
    <app-user-nav-bar></app-user-nav-bar>
  </div>
  <div class="col-sm-8">
    <div class="wrapper">
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Orders</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Orders</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- /.row -->
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title"></h3>

                    <!-- <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px">
                          <input
                            type="text"
                            name="table_search"
                            class="form-control float-right"
                            placeholder="Search"
                          />
        
                          <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                              <i class="fas fa-search"></i>
                            </button>
                          </div>
                        </div>
                      </div> -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive p-1" style="">
                    <table class="table table-head-fixed text-nowrap">
                      <thead>
                        <tr>
                          <th>ID</th>

                          <th>Order Date</th>
                          <th>Total Price</th>
                          <th>Payment Status</th>
                          <th>Delivery Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let order of orderList">
                          <td>{{ order.id }}</td>

                          <td>{{ order.orderDate }}</td>
                          <td>{{ order.total | currency: "Rs. " }}</td>
                          <td>{{ order.paymentEntity.status }}</td>
                          <td>{{ order.deliveryDetailsEntity.status }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#372626"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
